<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary" slot="end" >
      <ion-button size="small" shape="round" fill="outline" (click)="delMenuById(itemvalue)">删除</ion-button>
      <ion-button size="small" shape="round" fill="outline" (click)="updateMenu(itemvalue)" >更新</ion-button>
      <ion-button size="small" shape="round" fill="outline" (click)="refreshPage()">刷新</ion-button>
    </ion-buttons>
    <ion-title slot="start">下厨管理</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        
      </ion-col>
      <ion-col size="2">
        编号
      </ion-col>
      <ion-col size="3">
        作者
      </ion-col>
      <ion-col size="4">
        菜谱名字
      </ion-col>
      <ion-col size="2">
        含糖量
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngFor="let item of menuList">
    <ion-row>
      <ion-col size="1">
        <input type="radio" name = "id" id = "id" [value]= "item.id" [(ngModel)]="itemvalue"/>
      </ion-col>
      <ion-col size="2">
        {{item.id}}
      </ion-col>
      <ion-col size="3">
        {{item.user.username}}
      </ion-col>
      <ion-col size="4">
        <!-- {{item.timestamp| date:'yyyy-MM-dd'}} -->
        {{item.menuname}}
      </ion-col>
      <ion-col size="2">
        {{item.sugerquantity}}
      </ion-col>
    </ion-row>    
  </ion-grid>
</ion-content>
