<ion-tabs>

   <ion-tab-bar slot="bottom">

    <ion-tab-button tab="cooking">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>下厨</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shopping">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label>市集</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bbs">
      <ion-icon name="cafe-outline"></ion-icon>
      <ion-label>论坛</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favourite">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>收藏</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mytab">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
