<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="updateUser()">
      <ion-button>
        <ion-icon slot="icon-only" name="settings-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="start">我的</ion-title>
    <ion-buttons slot="end" (click)="loginOff()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-redo-circle-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-label slot="start">
      <h1>{{user.username}}</h1>
    </ion-label>
    <ion-avatar slot="end" class="mytab_self_avator">
      <img src="{{showPicUrl}}{{user.fileid}}" alt="暂无图片">
    </ion-avatar>
  </ion-item>
  <ion-item lines="none">
    <ion-button expand="block" fill="outline" shape="round" size="small" slot="start" color="dark"
      class="vip_background">
      开通会员
    </ion-button>
  </ion-item>
  <ion-item lines="none">
    <p slot="start">{{user.sex}}·{{user.timestamp| date:'yyyy-MM-dd'}}加入</p>
  </ion-item>
  <ion-item lines="full">
    <p slot="start">{{user.detail}}</p>
  </ion-item>
  <ion-item lines="full">
    <ion-label slot="start">
      <h3>个人菜谱</h3>
    </ion-label>
    <ion-label slot="end">
      <ion-button expand="block" fill="clear" shape="round" size="small" color="warning" (click)="checkMyMenu()">
        查看
      </ion-button>
    </ion-label>
  </ion-item>
  <ion-item lines="none" >
   
  </ion-item>
  <ion-item lines="none" >
    <img src="/assets/pic/sugarexcel1.jpg" alt="" class="sugarexcel">
  </ion-item>
</ion-content>