<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/manager/tabsmanager/menucommentmanager"></ion-back-button>
    </ion-buttons>
    <ion-title>更新评价</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>评价:</ion-label>
    <ion-input type="text" placeholder="请输入菜谱评价" [(ngModel)]="menuComment.comment"></ion-input>
  </ion-item>
  <ion-item lines="none">
  <ion-buttons slot="end">
    <ion-button expand="block" shape="round" color="medium" type="submit" (click)="updateMenuComment()">
      提交
    </ion-button>
  </ion-buttons>
  </ion-item>
  <ion-label>{{menuComment|json}}</ion-label>
</ion-content>
