<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/manager/tabsmanager/usermanager"></ion-back-button>
    </ion-buttons>
    <ion-title>更新用户信息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>用户名:</ion-label>
    <ion-input type="text" placeholder="请输入姓名" [(ngModel)]="user.username"></ion-input>
</ion-item>
<ion-item>
    <ion-label>密　码:</ion-label>
    <ion-input type="password" placeholder="请输入密码" [(ngModel)]="user.password"></ion-input>
</ion-item>
<ion-item>
  <ion-label>年　龄:</ion-label>
  <ion-input type="text" placeholder="请输入年龄" [(ngModel)]="user.age"></ion-input>
</ion-item>
<ion-item>
  <ion-label>性　别:</ion-label>
     <ion-select [(ngModel)]="user.sex">
      <ion-select-option *ngFor="let item of user.sexList" [value]="item">{{item}}</ion-select-option>
    </ion-select>
</ion-item>
<ion-item>
  <ion-label>手机号码:</ion-label>
  <ion-input type="text" placeholder="请输入手机号码" [(ngModel)]="user.telephonenum"></ion-input>
</ion-item>
<ion-item>
  <ion-textarea [(ngModel)]="user.detail" placeholder="请添加备注"></ion-textarea>
</ion-item>

<ion-item>
  <ion-label>VIP:</ion-label>
     <ion-select [(ngModel)]="user.vip">
      <ion-select-option *ngFor="let item of user.vipList" [value]="item">{{item}}</ion-select-option>
    </ion-select>
</ion-item>

<ion-item lines="none">
  <ion-buttons slot="end">
  
  <ion-button expand="block" shape="round" color="medium" type="submit" (click)="updateUser()">
    提交
  </ion-button>

</ion-buttons>
</ion-item>
</ion-content>
