<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary" (click)="getMenusByKeyWords()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-forward-circle-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" (click)="loginOff()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-redo-circle-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="搜索食谱" [(ngModel)]="menuname"></ion-searchbar>
    <ion-buttons slot="primary" slot="start">
      <ion-button [routerLink]="['/user/menu']">
        <ion-icon slot="icon-only" name="add" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none">
    <ion-label slot="start">
      <h2>为你推荐</h2>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button>
        菜谱分类
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-item *ngFor="let item of menuListInfo">
    <ion-thumbnail slot="start" [routerLink]="['/user/menudetail']" [queryParams]="{id:item.id}">
      <img src="{{showPicUrl}}{{item.fileid}}">
    </ion-thumbnail>
    <ion-label>
      <h3>{{item.menuname}}</h3>
      <ion-buttons slot="start">
        <ion-button type="submit" (click)="clickFavourite(item.id)">
          <ion-icon slot="end" name="heart-sharp" [class.iconColor] = "changeColor" id = {{item.id}}></ion-icon>
        </ion-button>
        <ion-button type="submit" (click)="clickZan(item.id)">
          <ion-icon name="thumbs-up-sharp" ></ion-icon>
          <ion-label slot="end" >+{{item.zan}}</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-label>
  </ion-item>
</ion-content>