<ion-header>
  <ion-toolbar>
    <ion-title>收藏管理</ion-title>
    <ion-buttons slot="primary" slot="end" >
      <ion-button size="small" shape="round" fill="outline" (click)="deleteFavouriteById(itemvalue)">删除</ion-button>
      <ion-button size="small" shape="round" fill="outline" (click)="updateFavourite(itemvalue)" >更新</ion-button>
      <ion-button size="small" shape="round" fill="outline" (click)="refreshPage()">刷新</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          
        </ion-col>
        <ion-col size="1">
          编号
        </ion-col>
        <ion-col size="2">
          用户编号
        </ion-col>
        <ion-col size="2">
          菜单编号
        </ion-col>
        <ion-col size="2">
          食材编号
        </ion-col>
        <ion-col size="2">
          话题编号
        </ion-col>
        <ion-col size="2">
          评论编号
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngFor="let item of favouriteList">
      <ion-row>
        <ion-col size="1">
          <input type="radio" name = "id" id = "id" [value]= "item.id" [(ngModel)]="itemvalue"/>
        </ion-col>
        <ion-col size="1">
          {{item.id}}
        </ion-col>
        <ion-col size="2">
          {{item.userid}}
        </ion-col>
        <ion-col size="2">
          {{item.menuid}}
        </ion-col>
        <ion-col size="2">
          {{item.shoppingid}}
        </ion-col>
        <ion-col size="2">
          {{item.topicid}}
        </ion-col>
        <ion-col size="2">
          {{item.commentid}}
        </ion-col>
      </ion-row>    
    </ion-grid>
  </ion-content>

