<ion-tabs>

  <ion-tab-bar slot="bottom">

   <ion-tab-button tab="cookingmanager">
     <ion-icon name="home-outline"></ion-icon>
     <ion-label>下厨</ion-label>
   </ion-tab-button>

  <ion-tab-button tab="shoppingmanager">
     <ion-icon name="storefront-outline"></ion-icon>
     <ion-label>市集</ion-label>
   </ion-tab-button>

   <ion-tab-button tab="bbsmanager">
     <ion-icon name="cafe-outline"></ion-icon>
     <ion-label>论坛</ion-label>
   </ion-tab-button>
  
   <ion-tab-button tab="favouritemanager">
     <ion-icon name="heart-outline"></ion-icon>
     <ion-label>收藏</ion-label>
   </ion-tab-button>

   <ion-tab-button tab="menucommentmanager">
    <ion-icon name="reader-outline"></ion-icon>
    <ion-label>评价</ion-label>
  </ion-tab-button>
 
   <ion-tab-button tab="usermanager">
     <ion-icon name="person-circle-outline"></ion-icon>
     <ion-label>用户</ion-label>
   </ion-tab-button>
 </ion-tab-bar>

</ion-tabs>
