<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="start" name="cart-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="start">市集</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="loginOff()">
        <ion-icon slot="end" name="arrow-redo-circle-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item lines="none">
  <img src="/assets/pic/shopping_poster.jpg" alt="">
</ion-item>

<ion-item lines="none" class="ion-item"> 
  <ion-label class="menuitem" [routerLink]="['/user/shoppinglist']" [queryParams]="{type:'食材'}">
    <ion-label color="warning">食材精选</ion-label>
    <img src="/assets/pic/shucai.jpg" [routerLink]="['/user/shoppinglist']">
  </ion-label>
</ion-item>

<ion-item lines="none" class="ion-item"> 
  <ion-label class="menuitem" [routerLink]="['/user/shoppinglist']" [queryParams]="{type:'厨具'}">
    <ion-label color="warning">厨具精选</ion-label>
    <img src="/assets/pic/chuju.jpg" [routerLink]="['/user/shoppinglist']">
  </ion-label>
</ion-item>

<!-- <ion-item lines="none" class="ion-item"> 
  <ion-label class="menuitem">
    <ion-label color="warning">好货推荐</ion-label>
    <img src="/assets/pic/chicken.jpg">
  </ion-label>
</ion-item>

<ion-item lines="none" class="ion-item"> 
  <ion-label class="menuitem">
    <ion-label color="warning">每周热销榜单</ion-label>
    <img src="/assets/pic/chicken.jpg">
  </ion-label>
</ion-item> -->

</ion-content>
