<ion-header>
  <ion-toolbar>
    <ion-title>用户管理</ion-title>
    <ion-buttons slot="primary" slot="end" >
      <ion-button size="small" shape="round" fill="outline" (click)="delUser(itemvalue)">删除</ion-button>
      <ion-button size="small" shape="round" fill="outline" (click)="updateUser(itemvalue)">更新</ion-button>
      <ion-button size="small" shape="round" fill="outline" (click)="refreshPage()">刷新</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        
      </ion-col>
      <ion-col size="1">
        编号
      </ion-col>
      <ion-col size="2">
        用户名
      </ion-col>
      <ion-col size="2">
        密码
      </ion-col>
      <ion-col size="1">
        年龄
      </ion-col>
      <ion-col size="1">
        性别
      </ion-col>
      <ion-col size="3">
        电话
      </ion-col>
      <ion-col size="1">
        vip
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngFor="let item of userList">
    <ion-row>
      <ion-col size="1">
        <input type="radio" name = "id" id = "id" [value]= "item.id" [(ngModel)]="itemvalue"/>
      </ion-col>
      <ion-col size="1">
        {{item.id}}
      </ion-col>
      <ion-col size="2">
        {{item.username}}
      </ion-col>
      <ion-col size="2">
        {{item.password}}
      </ion-col>
      <ion-col size="1">
        {{item.age}}
      </ion-col>
      <ion-col size="1">
        {{item.sex}}
      </ion-col>
      <ion-col size="3">
        {{item.telephonenum}}
      </ion-col>
      <ion-col size="1">
        {{item.vip}}
      </ion-col>
    </ion-row>    
  </ion-grid>
</ion-content>
