<ion-header>
  <ion-toolbar class="toolbar_title">

    <ion-title size="middle" slot="start">低糖智能菜谱</ion-title>
    <ion-title size="small" slot="end">
      <ion-button size="small" [routerLink]="['/user/admin']">
        管理员登陆
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>用户名:</ion-label>
    <ion-input type="text" placeholder="请输入姓名" [(ngModel)]="userInfo.username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>密码:</ion-label>
    <ion-input type="password" placeholder="请输入密码" [(ngModel)]="userInfo.password"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-buttons slot="end">
    
    <ion-button expand="block" shape="round" color="medium" type="submit" (click)="login()">
      提交
    </ion-button>
    <ion-button expand="block" shape="round" color="medium" type="submit" [routerLink]="['/user/register']">
      注册
    </ion-button>
  </ion-buttons>

  </ion-item>
</ion-content>