<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user/tabs/bbsdetail?id={{bbsComment.topicid}}"></ion-back-button>
    </ion-buttons>
    <ion-title>添加评论</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-textarea placeholder="请添加评论" [(ngModel)]="bbsComment.comment">  </ion-textarea>
  </ion-item>
  <ion-item lines="none">
    <ion-buttons slot="end">
    <ion-button expand="block" shape="round" color="medium" type="submit" (click)="submitBBSComment()">
      提交
    </ion-button>
    <ion-button expand="block" shape="round" color="medium" type="reset">
      重置
    </ion-button>
  </ion-buttons>
  </ion-item>
</ion-content>
